@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(/IMAGE/1.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 1330px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:  rgb(255, 255, 255);
    padding-bottom: 2 0px;
}
.contact .content p{
    font-weight: 300;
    color:  rgb(255, 255, 255);
    padding-bottom: 60px;
}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:  rgb(10, 183, 221);
}
.container .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(4, 4, 4);
    flex-direction: column;
    font-weight: 300;
}
.container .contact-info .box .text h3{
    font-weight: 700;
    color:#10087b;
}
.form{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.form h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;
}
.form .i-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.form .i-box input,.form .i-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.form .i-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(10, 183, 221);
    ;
}
.form .i-box input:focus ~ span,
.form .i-box input:valid ~ span,
.form .i-box textarea:focus ~ span,
.form .i-box textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.form .i-box input[type="submit"]{
    width: 100px;
    background-color:rgb(10, 183, 221);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 990px)
{
    .contact{
        padding:50px
    }
    .container{
        flex-direction: column;
    }
    .container .contact-info{
        margin-bottom: 40px;
    }
    .container .contact-info, .form{
        width: 100%;
    }
}